header{
	width: 100%;
	height: 32px;
	background: #f2f2f2;
	line-height: 32px;
	font-size: 12px;
	color: #999999;
}
main{
	width: 1230px;
	height: 100%;
	/* background: yellow; */
	margin: 0 auto;
}
header a{
	color: #999999;
}
header a:hover{
	color: #C40000;
}
.header-left{
	float: left;
	height: 100%;
}
.login{
	margin-left: 20px;
}
.header-right{
	float: right;
	height: 100%;
	width: 693px;
}
.header-my{
	width:62px;
	height: 32px;
    text-align: center;
	float: left;
	margin-right:8px;
	position: relative;
}
.header-my:hover{
    background: #fff;
    color: #C40000;
}
.nav-tishi1{
	width:96px;
	height:57px;
	background:#fff;
	font-size:12px;
	color:#808080 ;
	position: absolute;
	top: 32px;
	left: 0;
	display: none;
}
.nav-tishi1 span{
	padding: 0 5px;
    width: 96px;
    height:20px;
    line-height:20px;
}
.header-mypinpai{
	float: left;
	height: 100%;
	width: 90px;
	overflow: hidden;
}
.header-tu1{
	width: 17px;
	height: 14px;
	float: left;
	line-height:37px;
}
.header-zi1{
	float: left;
}
.header-buy{
	float: left;
	height: 100%;
	margin-left: 20px;
}
.header-tu2{
	width: 12px;
	height: 11px;
	float: left;
	margin-right: 5px;
}
.header-zi2{
	float: left;
}
.header-shoucang{
	width:45px;
	height: 32px;
	float: left;
	margin-left:15px;
	position: relative;
	text-align: center;
}
.nav-tishi2{
	width:75px;
	height: 57px;
	background:#fff;
	position: absolute;
	top: 32px;
	left: 0;
	font-size:12px;
	color:#808080 ;
	display: none;
}
.header-zhichi{
	width:48px;
	height: 32px;
	float: left;
	margin-left:15px;
	position: relative;
}
.header-zhichi a{
	text-align: center;
}
.nav-tishi3{
	width:144px;
	height:176px;
	background: pink;
	position:absolute;
	top:32px;
	right: 0;
	z-index: 1002;
	padding: 12px 12px 10px 12px;
	display: none;
}
.nav-tishi3 p{
	font-size: 12px;
	color: #808080;
	line-height: 12px;
}
.nav-tishi3 .nav3-m{
	width: 100%;
	height:109px;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 12px;
}
.nav-tishi3 .nav3-m .nav3-ml{
	width:41%;
	height: 100%;
	float: left;
}
.nav-tishi3 .nav3-m .nav3-mr{
	width:41%;
	height: 100%;
	float:right;
}
.nav-tishi3 .nav3-m2{
	width:100%;
	height:34px;
	border-bottom:1px dashed #ccc; 
}
.nav-tishi3 .nav3-m li{
	font-size: 12px;
	color: #ccc;
	line-height:27px;
}
.header-fenge{
	width: 1px;
	height: 14px;
	background: #cccccc;
	float: left;
	margin-left: 15px;
	margin-top: 9px;
}
.header-shouji{
	float: left;
	margin-left: 20px;
}
.header-tu3{
	width: 9px;
	height: 14px;
	float: left;
	margin-right: 5px;
}
.header-zi3{
	float: left;
	position: relative;
}
.topjiantou{
	width: 0px;
	height: 0px;
	border:6px solid transparent;
	border-bottom: 10px solid #fff;
	position: absolute;
	top:-13px;
	left:87px;
}
.erwei2{
	width:175px ;
	height:227px ;
	position: absolute;
	top:27px;
	left:-80px;
	display: none;
	z-index: 1002;
}
.header-wangzhan{
	float: left;
	margin-left: 20px;
}
.header-tu4{
	width: 12px;
	height: 12px;
	float: left;
}
.header-zi4{
	float: left;
	margin-left: 5px;
}
.top-fix{
	width:100%;
	height: 50px;
	background:#DE3232;
	opacity: 0.97;
	position:fixed;
	top:-50px;
	left: 0;
	z-index:1000;
	transition: all .5s; 
}
.fix-main{
	width: 1230px;
	height: 50px;
	margin: 0 auto;
}
.top-logo{
	width:162px ;
	height:50px;
	float: left;
}
.top-suo{
	width: 740px;
	height:40px;
	margin: 0 auto;
	padding-top: 10px;
}
.fix-left{
	width:650px;
	height: 30px;
	float: left;
	background: #fff;
	line-height: 30px;
	position: relative;
}
.fix-left input{
	color: #000;
	height: 30px;
	width: 650px;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: none;
    padding-left:8px;
}
.fix-right{
	width: 90px;
	height: 30px;
    float: right;
    background:#C40000;
    color: #fff;
    text-align: center;
    line-height: 30px;
}







nav{
	width: 1230px;
	height: 130px;
	margin: 0 auto;
}
.logo{
	width: 240px;
	height: 100%;
	float: left;
}
.daohang-main{
	width: 625px;
	height: 100px;
	float: left;
	margin-left: 95px;
}
.daohang-top{
	width: 100%;
	height: 40px;
	float: left;
}
.daohang-kuang{
	margin-top: 40px;
}
.daohang-text{
	width: 490px;
	height: 40px;
	color: #c40000;
	float: left;
	border: 1px solid #c40000;
}
.daohang-button{
	width: 132px;
	height: 42px;
	background: #c40000;
	float: left;
}
.daohang-bottom{
	float: left;
	margin-top: 40px;
	width: 100%;
	height: 20px;
	/* background: yellow; */
}
.daohang1{
	float: left;
	font-size: 14px;
	color: #c40000;
	margin-top: 3px;
}
.daohang2{
	float: left;
	font-size: 14px;
	color: #999999;
	margin-top: 3px;
}
.daohang-fenge{
	width: 1px;
	height: 16px;
	background: #999999;
	margin-top: 5px;
	margin-left: 14px;
	margin-right: 14px;
	float: left;
}
.banner{
	width: 100%;
	height: 536px;
	
	background: #DD2727;
}
.banner-top{
	width:1230px;
	height: 36px;
	margin: 0 auto;
	line-height: 36px;

}
.banner-top-left{
	width: 200px;
	height: 100%;
	background: #C60A0A;
	float: left;
}
.banner-top-left-tu{
	width: 19px;
	height: 16px;
	margin-left: 15px;
	float: left;
}
.banner-top-left-zi{
	font-size: 16px;
	float: left;
	margin-left: 15px;
	color: #fff;
}
.banner-top-right{
	height: 100%;
	width: 1030px;
	float: right;
}
.banner-top-right1{
	float: left;
	width: 90px;
	height: 36px;
	margin-left: 30px;
	position: relative;
	cursor: pointer;
}
.banner-top-right1 .img2{
	width: 40px;
	height: 15px;
	position: absolute;
	top:0px;
	z-index: -1;
	transition: all .2s;
}
.banner-top-right2 .img2{
	width: 40px;
	height: 15px;
	position: absolute;
	top:0px;
	z-index: -1;
	transition: all .2s;
}
.banner-top-right1 .img2{
	left: 35px;
} 
.banner-top-right2 a .img2{
	left:7px;
} 
.banner-top-right2{
	display: inline-block;
	width:auto;
	height: 36px;
	margin-left:25px;
	font-size: 16px;
	color: #fff;
	position: relative;
	cursor: pointer;
} 

.banner a{
	color: #fff;
}
.banner-bottom{
	width: 100%;
	height: 500px;
	background:#E8E8E8;
	transition: all 1s;	
}
.banner-bottom-main{
	width: 1230px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.jsbanner{
	width: 1230px;
	height: 100%;
	overflow: hidden;
}
.jsbanner li{
	width: 1230px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	cursor:pointer;
	transition: all 1s;
	opacity: 0;
}
.jsbanner li:nth-child(1){
	z-index: 1;
	opacity: 1;
}
.celan{
	width: 200px;
	height: 100%;
	background: #EEEDED;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: auto;
	z-index:900;
}
.banner-bottom .celan ul li{
	line-height: 31.2px;
	font-size: 14px;
	padding-left: 15px;
}
.banner-bottom .celan ul li:hover{
	background: #fff;
}
.daogangicon{
	margin-right: 10px;
}
.banner-bottom-right{
	width: 100px;
	height: 480px;
	background: #000;
	opacity: 0.5;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	z-index:900;
}
.banner-bottom-right:hover{
	opacity: 0.8;
}
.banner-bottom-right-top{
	width: 70px;
	height: 70px;
	margin: 0 auto;
	margin-top: 10px;
}
.banner-bottom-right-zi1{
	font-size: 12px;
	text-align: center;
	color: #fff;
	opacity: 1;
	margin-top: 10px;
}
.banner-bottom-right-zi2{
	font-size: 12px;
	text-align: center;
	color: #fff;
	opacity: 1;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #000;
}
.banner-bottom-right-zi3{
	font-size: 12px;
	text-align: center;
	color: #fff;
	opacity: 1;
	margin-top: 10px;
}

.banner-bottom-right-please{
	width: 80px;
	height: 24px;
	background: #dd2727;
	border-radius: 12px;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	margin: 0 auto;
	opacity: 1;
	margin-top: 10px;
}
.banner-bottom-right ul{
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	opacity: 1;
}
.lunbo{
	height: 20px;
	width: 198px;
	/* background: yellow; */
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 20px;
	margin: auto;
	z-index: 1000;
}
.lunbo ul li:nth-child(1){
	background: #f1f1f1;
}
.lunbo ul li{
	float: left;
	margin-left: 6px;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background: #a2a2a2;
	border: 1px solid #a2a2a2;
	cursor: pointer;
}
.banner-bottom-right ul li{
	line-height: 20px;
}
.banner-bottom-right-tuijian{
	width: 100%;
	height: 24px;
	background: #000;
	opacity: 0.7;
	font-size: 12px;
	color: #fff;
	text-align: center;
	margin-top: 20px;
}
.banner-bottom-right-bottom{
	width: 57px;
	height: 57px;
	margin: 0 auto;
	background: red;
	border-radius: 50%;
	background-image: url('../img/banner-bottom-right.jpg');
	background-size: cover;
	margin-top: 15px;
	opacity: 1;
}
.banner-bottom-right img{
	width: 100%;
	height: 100%;
}
.neirong{
	width: 100%;
	/* height: 4403px; */
	overflow: hidden;
	background: #f5f5f5;
	float: left;
}
.banner-xia-top{
	width: 1230px;
	height: 436px;
	margin: 0 auto;
	background: #fff;
	margin-top: 60px;
}
.banner-xia-top-left{
	width: 488px;
	height: 436px;
	float: left;
	background: #000;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.banner-xia-left-top{
	width: 100%;
	height: 275px;
	overflow: hidden;
}
.above-cover{
	width: 49px;
	height: 20px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 15px;
	right: 16px;
	margin: auto;
}
.red-dot{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #FE4672;
	float: left;
	margin-top: 6px;
	margin-left: 6px;
}
.huibo{
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	float: left;
	margin-left: 2px;
}
.bofang-button{
	width: 70px;
	height: 57.36px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 100px;
	margin: auto;
}
.bofang-button a{
	display: block;
	width: 70px;
	height: 57.36px;
    transition:all .3s;
}
.bofang-button a:hover{
	transform:scale(1.3);
}
.banner-xia-top img{
	width:   100%;
	height: 100%;
}
.banner-xia-left-bottom{
	width: 100%;
	height: 90px;
	margin-top: 8px;
	position: relative;
}
.banner-xia-left-bottom ul.b-xiazuo-bottom{
	width:976px;
	height:90px;
	transition: all .5s;
}
.banner-xia-left-bottom ul li{
	width: 160px;
	height: 90px;
	float: left;
	margin-left: 4px;
	cursor: pointer;
}
.banner-xia-left-bottom ul li:nth-child(1){
	margin-left: 0;
	opacity: 1;
}
.banner-xia-left-bottom ul li:nth-child(4){
	margin-left: 0;
}
.banner-xia-left-bottom1{
	width: 160px;
	height: 100%;
	float: left;
	position: relative;
}
.banner-xia-left-bottom2{
	width: 160px;
	height: 100%;
	float: left;
	margin-left: 4px;
}
.banner-xia-zhezhao{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;	
	right: 0;
	margin: auto;
	opacity: 0;
}
.banner-xia-left-bottom1-bofang{
	width: 36px;
	height: 29.5px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity:0;
}
.banner-xia-jiantou{
	width: 17px;
	height: 90px;
	position: absolute;
	top: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
	/* opacity: 0; */
}
.banner-xia-rjiantou{
	width: 17px;
	height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	opacity: 0;
	cursor: pointer;
}
.banner-xia-foot{
	width: 100%;
	height:63px;
	overflow: hidden; 
}
.banner-xia-foot-left{
	width: 81px;
	height: 31px;
	float: left;
	margin-left: 20px;
	margin-top:16px;
}
.gonggaobox{
	width: 377px;
	height: 63px;
	float: right;
	overflow: hidden;
}
.gonggao{
	width:377px;
	height:189px;
	transition: all .3s;
}
.banner-gonggao{
	width:377px;
	height: 63px;
}
.gonggao1{
	font-size: 14px;
	color: #fff;
	margin-top: 12px;
}
.gonggao2{
	font-size: 14px;
	color: #D64878;
}
.banner-xia-top-right{
	width: 732px;
	height: 100%;
	float: right;
	/* background: yellow; */
}
.list1{
	width: 121px;
	height: 108px;
	float: left;
	background: #fff;
	/* line-height: 108px; */
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #f5f5f5;
	position: relative;

}
.list2{
	width: 121px;
	height: 108px;
	float: left;
	background: #fff;
	/* line-height: 108px; */
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #f5f5f5;
	position: relative;
}
.list1-tu{
	width: 99.22px;
	height: 50px;
	margin: 0 auto;
	margin-top: 30px;
}
.list1-tu a{
	display: block;
	width: 99.22px;
	height: 50px;
	cursor: pointer;
}
.list1-zhezhao{
	float: left;
	width: 121px;
	height: 108px;
	background: rgba(0, 0, 0,0.6);
	position: absolute;
	top: 0px;
	left: 0px;
	margin: auto;
	text-align: center;
    transition: all .5s;
	opacity: 0;
}
/* .list1-zhezhao:hover{
	width: 121px;
	height: 108px;
	background: #000;
	opacity: 0.8;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: auto;
	
} */
.coupon{

	font-size: 12px;
	color: #fff;
	opacity: 0;
	margin: 0 auto;
	margin-top: 40px;
}
.icon-shoucang{
	float: right;
	opacity: 0;
	color: #fff;
	margin-right: 10px;
	margin-top: 10px;
}
.list1-zhezhao:hover .coupon{
	opacity: 1;
}
.list1-zhezhao:hover .icon-shoucang{
	opacity: 1;
}
.list1-zhezhao:hover .more{
	opacity: 1;
}
.more{
	width: 60px;
	height: 20px;
	background: #FF0101;
	border-radius: 20%;
	text-align: center;
	font-size: 12px;
	color: #fff;
	opacity: 0;
	margin: 0 auto;
	margin-top: 10px;
}
.icon-forabatch{
	color: #999;
	width: 40px;

	height: 40px;
	margin: 0 auto;
	transform: scale(2, 2) translate(12px, 15px);
	transform-origin: center top;
	
}
.list2-zi{
	font-size: 12px;
	color: #999;
	transform: translate(42px, 20px);
}
.list2:hover{
	background: #FF0000;
}
.list2:hover .list2-zi{
	color: #fff;
}
.list2:hover .icon-forabatch{
	color: #fff;
	transform: scale(2, 2) translate(12px, 15px) rotate(360deg);

}
/* 		<!-- 潮流开始 --> */
.cl{
	width: 1230px;
	height: 510px;
	margin: 0 auto;
	padding-top: 31px;
}
.cl-left{
	height: 478px;
	width: 238px;
	float: left;
}
.cl-left-top{
	height: 36px;
	width: 238px;
	float: left;
	background: #DD2727;
}
.cl-left-top-icon{
	width: 28px; 
	height: 36px;
	margin-left: 68px;
	float: left;
}
.cl-left-top-zi{
	height: 36px;
	float: left;
	font-size: 18px;
	line-height: 36px;
	color: #FCFFFF;
}
.cl-left-top-bottom{
	height: 470px;
	width: 238px;
	background: #fff;
}
.cl-left-top-bottom1{
	height: 24px;
	width: 238px;
	line-height: 24px;
	margin-top: 19px;
	font-size: 22px;
	float: left;
	text-align: center;
}
.cl-left-top-bottom2{
	height: 14px;
	width: 238px;
	line-height: 14px;
	margin-top: 5px;
	font-size: 14px;
	float: left;
	text-align: center;
	color: #888888;
}
.cl-left-top-bottom3{
	height: 140px;
	width: 140px;
	margin-left: 49px;
	margin-top: 9px;
	margin-right: 49px;
	float: left;
}
.cl-left-top-bottom3-yuan{
	height: 140px;
	width: 140px;
	border-radius: 50%;
	background: #F8F8F8;
}
.cl-left-top-bottom3-yuan img{
	width: 100%;
	height: 100%;
}
.cl-left-top-bottom3-tu{
	transition: all .3s linear;
}
.cl-left-top-bottom3-tu:hover{
	transform: scaleX(1.05);
	transform: scaleY(1.05);
}
.cl-left-top-bottom4{
	height: 1px;
	width: 200px;
	background: #EEEEEE;
	margin-left: 19px;
	margin-right: 19px;
	float: left;
	margin-top: 8px;
}
.cl-left-top-bottom5{
	height: 24px;
	width: 100%;
	line-height: 24px;
	margin-top: 19px;
	font-size: 22px;
	float: left;
	text-align: center;
}
.cl-left-top-bottom6{
	height: 14px;
	width: 100%;
	line-height: 14px;
	margin-top: 5px;
	font-size: 14px;
	float: left;
	text-align: center;
	color: #888888;
}
.cl-left-top-bottom7{
	height: 140px;
	width: 140px;
	margin-left: 49px;
	margin-top: 9px;
	margin-right: 49px;
	float: left;
}
.cl-left-top-bottom7-yuan{
	height: 140px;
	width: 140px;
	border-radius: 50%;
	background: #F8F8F8;
}
.cl-left-top-bottom7-yuan img{
	width: 100%;
	height: 100%;
}
.cl-left-top-bottom7-tu{
	transition: all .3s linear;
}
.cl-left-top-bottom7-tu:hover{
	transform: scaleX(1.05);
	transform: scaleY(1.1);
}
.cl .cl-left-1{
	margin-left: 10px;
	float: left;
}
	/* <!-- 潮流结束 --> */
.zhongjiantu{
	width: 1230px;
	height: 90px;
	margin: 0 auto;
	background: blue;
	margin-top: 5px;
}
.zhongjiantu img{
	width: 100%;
	height: 100%;
}
.meilirensheng{
	width: 100%;
	height: 501px;
	background: #f5f5f5;
}
.meilirensheng a{
	color: #000;
}
.meilirensheng a:hover{
	text-decoration: underline;
	color: #000;
}
.meilirensheng1{
	width: 1230px;
	height: 100%;
	margin: 0 auto;
}
.meilirensheng2{
	width: 1230px;
	height: 60px;
	float: left;
}
.meilirensheng3{
	width: 5px;
	height: 20px;
	background: #ea5f8d;
	float: left;
	margin-top: 30px;
}
.meilirensheng4{
	font-size: 18px;
	float: left;
	color: #000000;
	margin-left: 10px;
	margin-top: 28px;
}
.meilirensheng5{
	font-size: 14px;
	float: left;
	color: #000000;
	margin-left: 10px;
	margin-top: 34px;
}
.meilirensheng6{
	font-size: 13px;
	float: left;
	color: #000000;
	margin-left: 412px;
	margin-top: 35px;
}
.meilirensheng7{
	font-size: 13px;
	float: left;
	color: #000000;
	margin-left: 25px;
	margin-top: 35px;
}
.meilirensheng8{
	width: 1230px;
	height: 440px;
	float: left;
	margin-bottom: 20px;
}
.meilirensheng9{
	width: 246px;
	height: 440px;
	float: left;
}
.meilirensheng10{
	width: 246px;
	height: 330px;
	float: left;
	background-image: url('../img/meilirensheng1.png')
}
.meilirensheng10 img{
	width: 100%;
	height: 100%;
}
.meilirensheng11{
	width: 246px;
	height: 110px;
	/* float: left; */
}
.meilirensheng11 img{
	width: 100%;
	height: 100%;
}
.meilirensheng12{
	width: 246px;
	height: 30px;
	float: left;
	font-size: 14px;
	color: #000;
	line-height: 30px;
	text-align: center;
	background: #fff;
	opacity: 0.8;
	margin-top: 300px;
}
@keyframes xianshi{
			0%{
				opacity: 0;
				
			}
			30%{
				opacity: 0.1;
				
			}
			60%{
				opacity: 0.2;
				
			}
			100%{
				opacity: 0.3;
				
			}
}
.meilirenshengzhezhao{
	width: 246px;
	height: 300px;
	opacity: 0;
	background: #fff;

}
.meilirensheng12:hover{
	color: red;
}
.meilirensheng10:hover .meilirenshengzhezhao{
	animation: xianshi .3s linear  forwards;
}
.meilirensheng13{
	width: 735px;
	height: 440px;
	background: #fff;
	float: left;
}
.meilirensheng14{
	width: 245px;
	height: 221px;
	float: left;
	border-right: 1px solid #e0e0e0;
	position: relative;
}
.meilirensheng15{
	width: 220px;
	height: 24px;
	font-size: 18px;
	color: #000;
	float: left;
	margin-top: 25px;
	margin-left: 25px;
}
.meilirensheng16{
	width: 220px;
	height: 18px;
	font-size: 14px;
	color: #ea5f8d;
	float: left;
	margin-top: 5px;
	margin-left: 25px;
}
.meilirensheng17{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 70px;
	left: 93px;
	transition: all 0.3s linear;
}
.meilirensheng17 img{
	width: 100%;
	height: 100%;
}
.meilirensheng17:hover{
	transform: translate(-3px,0px);
}
.meilirensheng18{
	width: 245px;
	height: 221px;
	float: left;
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	position: relative;
}
.meilirensheng19{
	width: 249px;
	height: 440px;
	background: #fff;
	float: left;
}
.meilirensheng20{
	width: 249px;
	height: 147px;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
}
.meilirensheng21{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 46px;
	left: 147px;
	transition: all 0.3s linear;
}
.meilirensheng21 img{
	width: 100%;
	height: 100%;
}
.meilirensheng21:hover{
	transform: translate(-3px,0px);
}
.meilirensheng22{
	width: 249px;
	height: 147px;
	position: relative;
}
 /* 潮电酷玩开始  */
.chaodian{
	width: 1230px;
	height: 470px;
	/* background: red; */
	margin: 0 auto;
	margin-top: 30px;
	position: relative;
}
.chaodian-top{
	width: 100%;
	height: 30px;
	/* background: yellowgreen; */
}
.chaodian-top-left{
	float: left;
	height: 100%;
}
.chaodian-top-left-qian{
	width: 5px;
	height: 20px;
	background: #0AA6E8;
	float: left;
	margin-top: 3px;
}
.chaodian-top-left-zi{
	font-size: 18px;
	float: left;
	margin-left: 10px;

}
.chaodian-top-left-zi1{
	float: left;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 5px;
}
.chaodian-top-right{
	float: right;
	height: 100%;
}
.chaodian-top-right ul li{
	float: left;
	margin-left: 30px;
	font-size: 14px;
	line-height: 30px;
}
.chaodian-top-right a:hover{
	text-decoration: underline;
}
.chaodian-top-right a{
	color: #000;
}
.chaodian-main-top{
	float: right;
	width: 980px;
	height: 220px;
	background: red;
	position: absolute;
	top: 30px;
	right: 0px;
	margin: auto;
}
.aichao-main-top{
	float: right;
	width: 980px;
	height: 220px;
	background: red;
	position: absolute;
	top: 40px;
	right: 0px;
	margin: auto;
}
.chaodian-main-top1{
	float: left;
	width: 490px;
	height: 100%;
	background: #fff;
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
	position: relative;
}
.chaodian-main-top2{
	float: left;
	width: 245px;
	height: 100%;
	background: #fff;
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
	position: relative;
}
.chaodian-main-bottom1{
	float: left;
	width: 245px;
	height: 100%;
	background: #fff;
	border-right: 1px solid #F5F5F5;
	
	position: relative;
}
.chaodian img{
	width: 100%;
	height: 100%;
}
.chaodian-main-top1-zi1{
	font-size: 24px;
	position: absolute;
	top: 45px;
	left: 45px;
	margin: auto;
}
.chaodian-main-top1-zi2{
	font-size: 18px;
	position: absolute;
	top: 79px;
	left: 45px;
	margin: auto;
}
.chaodian-main-top1-zi3{
	font-size: 16px;
	color: #0AA6E8;
	position: absolute;
	top: 105px;
	left: 45px;
	margin: auto;
}
.chaodian-main-top2-zi1{
	font-size: 18px;
	
	position: absolute;
	top: 25px;
	left: 25px;
	margin: auto;
}
.chaodian-main-bottom-zi1{
	font-size: 18px;
	
	position: absolute;
	top: 25px;
	left: 25px;
	margin: auto;
}
.chaodian-main-top2-zi2{
	font-size: 14px;
	color: #0AA6E8;
	position: absolute;
	top: 54px;
	left: 25px;
	margin: auto;
	z-index: 1;
}
.chaodian-main-bottom-zi2{
	font-size: 14px;
	color: #0AA6E8;
	position: absolute;
	top: 54px;
	left: 25px;
	margin: auto;
	z-index: 1;
}
.chaodiankuwan1{
	width: 195px;
	height: 195px;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: auto;
}
.chaodiankuwan2{
	width: 154px;
	height: 154px;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: auto;

}
.chaodian-main-bottom{
	float: right;
	width: 980px;
	height: 220px;
	background: red;
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: auto;
}
.aichao-main-bottom{
	float: right;
	width: 980px;
	height: 220px;
	background: red;
	position: absolute;
	bottom: -10px;
	right: 0px;
	margin: auto;
}
 /* 潮电酷玩结束  */
 .home-main-top1-left{
 	width: 245px;
 	height: 100%;
 	float: left;
 	background: #fff;
 	border-right: 1px solid #F5F5F5;
 	border-bottom: 1px solid #F5F5F5;
	position: relative;
 }
 .home-main-top1-right{
 	width: 245px;
 	height: 100%;
 	float: left;
 	background: #fff;
 	position: relative;
 	border-right: 1px solid #F5F5F5;
 	border-bottom: 1px solid #F5F5F5;
 	
 }
 .home-main-top2-top{
 	width: 100%;
 	height: 110.5px;
 	border-bottom: 1px solid #F5F5F5;
	position: relative;
 }
 .home-top1{
 	width:109px;
 	height: 109px;
 	position: absolute;
 	bottom: 0px;
 	right: 0px;
 	margin: auto;
 }
 .cnxh{
	width: 100%;
	float: left;
	overflow: hidden;
	background: #F5F5F5;
}
.cnxh1{
	width: 1230px;
	overflow: hidden;
	margin: 0 auto ; 
}
.cnxhtou{
	width: 100%;
	height: 90px;
	float: left;
}
.cnxhtou img{
	width: 100%;
	height: 100%;
	float: left;
}
.cnwz{
	font-size: 20px;
	width: 100%;
	height: 73px;
	float: left;
	text-align: center;
	margin-top: 25px;
}
.cnft{
	width: 100%;
	overflow: hidden;
	float: left;
}
.cn1{
	width: 239px;
	height: 319px;
	border: 1px solid #ffffff;
	float: left;
	background: #FFFFFF;
	
	margin-bottom: 20px;
}
.cn1:hover{
	width: 239px;
	height: 319px;
	border: 1px solid #DD2727;
	float: left;
	background: #FFFFFF;
}	

.cn01{
	width: 235px;
	height: 235px;
	margin: 0 auto ;
}
 .cn01:hover{
    width: 235px;
	height: 235px;
	margin: 0 auto ;
	background: #FFFFFF;
	opacity: 0.6;
} 

.cn01 img{
	width: 100%;
	height: 100%;
	margin: 0 auto ; 

}
.cn001{
	width: 209px;
	height: 37px;
	margin: 0 auto ;
	margin-top: 11px;
	font-size: 14px;
	color: #666666;
}
.cn0001{
	width: 54px;
	height: 17px;
	float: left;
	margin-top: 0px;
	margin-left: 16px;
	font-size: 18px;
	color: #FF0000;

}
.cn2{
	width: 239px;
	height: 319px;
	border: 1px solid #ffffff;
	float: left;
    margin-left: 9px;
    background: #FFFFFF;
}
.cn2:hover{
	width: 239px;
	height: 319px;
	border: 1px solid #DD2727;
	float: left;
	background: #FFFFFF;
}
.cn02:hover{
    width: 235px;
	height: 235px;
	margin: 0 auto ;
	background: #FFFFFF;
	opacity: 0.6;
}
.cn02{
	width: 235px;
	height: 235px;
	margin: 0 auto ;
}
.cn02 img{
	width: 100%;
	height: 100%;
	margin: 0 auto ; 

}
.cn002{
	width: 209px;
	height: 37px;
	margin: 0 auto ;
	margin-top: 11px;
	font-size: 14px;
	color: #666666;
}
.cn0002{
	width: 54px;
	height: 17px;
	float: left;
	margin-top: 0px;
	margin-left: 16px;
	font-size: 18px;
	color: #FF0000;

}
.cn3{
	width: 239px;
	height: 319px;
	border: 1px solid #ffffff;
	float: left;
	margin-left: 9px;
	background: #FFFFFF;
}
.cn3:hover{
	width: 239px;
	height: 319px;
	border: 1px solid #DD2727;
	float: left;
	background: #FFFFFF;
}
.cn03:hover{
    width: 235px;
	height: 235px;
	margin: 0 auto ;
	background: #FFFFFF;
	opacity: 0.6;
}
.cn03{
	width: 235px;
	height: 235px;
	margin: 0 auto ;
}
.cn03 img{
	width: 100%;
	height: 100%;
	margin: 0 auto ; 

}
.cn003{
	width: 209px;
	height: 37px;
	margin: 0 auto ;
	margin-top: 11px;
	font-size: 14px;
	color: #666666;
}
.cn0003{
	width: 54px;
	height: 17px;
	float: left;
	margin-top: 0px;
	margin-left: 16px;
	font-size: 18px;
	color: #FF0000;

}
.cn4{
	width: 239px;
	height: 319px;
	border: 1px solid #ffffff;
	float: left;
	margin-left: 9px;
	background: #FFFFFF;
}
.cn4:hover{
	width: 239px;
	height: 319px;
	border: 1px solid #DD2727;
	float: left;
	background: #FFFFFF;
}
.cn4 img{
	width: 100%;
	height: 100%;
	float: left;
}
.cn5{
	width: 239px;
	height: 319px;
	border: 1px solid #ffffff;
	float: left;
	margin-left: 8px;
	background: #FFFFFF;
}
.cn5:hover{
	width: 239px;
	height: 319px;
	border: 1px solid #DD2727;
	float: left;
	background: #FFFFFF;
}
.cn05:hover{
    width: 235px;
	height: 235px;
	margin: 0 auto ;
	background: #FFFFFF;
	opacity: 0.6;
}
.cn05{
	width: 235px;
	height: 235px;
	margin: 0 auto ;
}
.cn05 img{
	width: 100%;
	height: 100%;
	margin: 0 auto ; 

}
.cn005{
	width: 209px;
	height: 37px;
	margin: 0 auto ;
	margin-top: 11px;
	font-size: 14px;
	color: #666666;
}
.cn0005{
	width: 54px;
	height: 17px;
	float: left;
	margin-top: 0px;
	margin-left: 16px;
	font-size: 18px;
	color: #FF0000;

}
.ending{
	width: 1230px;
	height: 58px;
	/* background: orangered; */
	float: left;
	margin-left: 90px;
	
}
.endingtu{
	width: 80px;
	height: 45px;

	margin: 0 auto;
}
.foot{
	width: 100%;
	height: 564px;
	border-top:1px solid #f3f3f3;
	/* background: blue;  */
}
.dibu1{
	width: 1190px;
	height: 153px;
	border-bottom: 1px solid #f3f3f3;
	float: left;
	margin-left: 90px;
}
.dibu1-pinzhi{
	width: 297px;
	height: 100px;
	/* background: yellow; */
	float: left;
	margin-top: 26px;
}
.dibu-fenge{
	width: 1px;
	height: 80px;
	background: #f3f3f3;
	float: left;
	margin-top: 10px;
	margin-left: 4px;
}
/* img{
	width: 100%;
	height: 100%;
} */
.dibu-7tian{
	width: 240px;
	height: 100px;
	float: left;
	margin-left: 50px;
}

.dibu2{
	width: 1190px;
	height: 213px;
	float: left;
	margin-left: 90px;
	/* background: pink; */
	
	position: relative;
}
.dibu2-kuang{
	width: 238px;
	height: 90px;
	/* background: green; */
	float: left;
	margin-top: 30px;
	

}

.dibu2-kuang1{
	width: 238px;
	height: 130px;
	/* background: green; */
	float: left;
	margin-top: 30px;
	
}
.dibu2-kuang2{
	width: 238px;
	height: 170px;
	/* background: green; */
	float: left;
	margin-top: 30px;
	

}
.dibu2-kuang3{
	width: 238px;
	height: 135px;
	/* background: green; */
	float: left;
	margin-top: 50px;
	

}
dl{
	font-size: 16px;
	color: #646464;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 50px;

}
dd{
	font-size: 12px;
	color: #8B8B8B;
	margin-top: 2px;
	margin-left: 50px;
	
}
.dibu-shoujitianmao{
	width: 180px;
	height: 30px;
	float: left;
	/* background: yellow; */
}
.dibu2-erweima{
	width: 105px;
	height: 105px;
	/* background: yellow; */
	float: left;
	margin-left: 60px;
}
.dibu2--mao{
	width: 68px;
	height: 25px;
	float: left;
	position: absolute;
	left: 50px;
	bottom: 0px;
	margin: auto;
}
.dibu3{
	width: 100%;
	height: 180px;
	background: #000000;
	margin: 0 auto;
	float: left;
	border-top: 2px solid red;
}

.dibu3-wenzi{
	width: 1190px;
	height: 35px;
	/* background: yellow; */
	margin: 0 auto;

}

.dibu3-wenzi2{
	width: 1190px;
	height: 35px;
	/* background: yellow; */
	margin: 0 auto;


}

.dibu3-wenzikuang{
	width: 53px;
	height: 16px;
	padding-right: 5px;
	/* background: blue; */
	float: left;
	margin-top: 8px;

}
.dibu3-wenzikuang1{
	width: 125px;
	height: 16px;
	padding-right: 5px;
	/* background: blue; */
	float: left;
	margin-top: 8px;

}
.dibu3-wenzikuang2{
	width: 77px;
	height: 16px;
	padding-right: 5px;
	/* background: blue; */
	float: left;
	margin-top: 8px;

}

.dibu3-zi{
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.dibu3-wenzi2kuang{
	width: 78px;
	height: 16px;
	padding-right: 5px;
	/* background: blue; */
	float: left;
	margin-top: 8px;
	border-right: 1px solid #bbb;

}
.dibu3-wenzi2kuang1{
	width: 42px;
	height: 16px;
	padding-right: 5px;
	/* background: blue; */
	float: left;
	margin-top: 8px;
	border-right: 1px solid #bbb;

}
.dibu3-wenzi2kuang2{
	width: 30px;
	height: 16px;
	padding-right: 5px;
	/* background: blue; */
	float: left;
	margin-top: 8px;

	border-right: 1px solid #bbb;

}
.dibu3-wenzi2kuang3{
	width: 126px;
	height: 16px;
	padding-right: 5px;
	/* background: blue; */
	float: left;
	margin-top: 8px;
	border-right: 1px solid #bbb;

}
.dibu3-wenzi2kuang4{
	width: 54px;
	height: 16px;
	padding-right: 5px;
	/* background: blue; */
	float: left;
	margin-top: 8px;
	border-right: 1px solid #bbb;

}
.dibu3-box{
	width: 1190px;
	height: 110px;
	margin: 0 auto;
	/* background: yellow; */
}
.dibu3-box-kuang{
	width: 300px;
	height: 16px;
	/* background: blue; */
	float: left;
	margin-right: 60px;
}
.dibu3-box-kuang1{
	width: 300px;
	height: 16px;
	/* background: blue; */
	float: left;
	margin-right: 60px;
	margin-top: 10px;
}
.dibu3-box-tu{
	width:1190px;
	height: 30px;
	/* background: yellow; */
	float: left;
	
	margin-top: 5px;
}
.dibu3-box-zi{
	width:1190px;
	height: 20px;
	/* background: blue; */
	float: left;
	
	margin-top: 5px;
}
.dibu3-box-wenzi{
	font-size: 12px;
	color: #949970;
	float: left;
	text-align: left;
}
.dibu3-box-xiaotu{
	width:20px ;
	height: 20px;
	float: left;
}
.dibu3-box-tupian{
	width:80px ;
	height: 30px;
	float: left;
	margin-top: 7px;
	margin-right: 20px;
}
.dibu4{
	width: 100%;
	height: 18px;
	background: #000000;
	float: left;
}
.right-nav{
	width: 35px;
	height: 100%;
	position: fixed;
	right: 0px;
	top: 0px;
	margin: auto;
	background: #000;
	z-index: 1001;
}
.right-nav-tu{
	width: 35px;
	height: 35px;
	margin: 0 auto;
	margin-top:140px;
	background: #000 url('../img/right-nav.png') center;
	background-size: cover;
	position: relative;
}
.tip{
	width:90px;
	height:35px;
	background:#808080;
    position: absolute;
    left:-150px;
    top: 0;
    z-index: 1002;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size:14px;
    display: none;
}
@keyframes show {
    0%{
         opacity:0;
         left:-150px;
    }
    100% {
        opacity: 1;
        left:-90px;
    }
}
.show{
    animation:show 1s ease-in forwards;
    display: block;
}
    @keyframes hide {
    0%{
            opacity:1;
            left:-90px;
    }
    100% {
            opacity: 0;
            left:-150px;
    }
}
.hide{
    animation:hide 1s ease-in;
    display: block;
    }
.right-nav-tu:hover{
	background:#C40000 url('../img/right-nav.png') center;
}
.right-nav-buy{
	width: 25px;
	height: 96px;
	background-image: url('../img/right-nav1.png');
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top:5px;
	background-size: 110%;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}

.right-nav-tu1{
	width: 35px;
	height:  35px;
	background-image: url('../img/right-nav-1.png');
	margin-top: 10px;
	position: relative;
}
.right-nav-tu1:hover{
	background:#C40000 url('../img/right-nav-1.png') center;
}
.right-nav-tu2{
	width: 35px;
	height:  35px;
	background-image: url('../img/guanzhu.png');
	margin-top: 10px;
    position: relative;
}
.right-nav-tu2:hover{
	background:#C40000 url('../img/guanzhu.png') center;
}
.right-nav-tu3{
	width: 35px;
	height:  35px;
	background-image: url('../img/shoucang.png');
	margin-top: 10px;
    position: relative;
}
.right-nav-tu3:hover{
	background:#C40000 url('../img/shoucang.png') center;
}
.right-nav-tu4{
	width: 35px;
	height:  35px;
	background-image: url('../img/lishi.png');
	margin-top: 10px;
    position: relative;
}
.right-nav-tu4:hover{
	background:#C40000 url('../img/lishi.png') center;
}
.right-nav-tu5{
	width: 35px;
	height:  35px;
	background-image: url('../img/chongzhi.png');
	margin-top: 10px;
    position: relative;
}
.right-nav-tu5:hover{
	background: #C40000 url('../img/chongzhi.png') center;
}
.right-nav-tu6{
	width: 35px;
	height:  35px;	
	margin: 0 auto;
	background:url('../img/fankui.png') center bottom no-repeat;
	background-size:contain;
	margin-top: 40px;
	position: relative;
}
.right-nav-tu6:hover{
	background: #C40000 url('../img/fankui.png') center no-repeat;
}
.right-nav-tu7{
	width: 35px;
	height:  35px;	
	margin: 0 auto;
	margin-top: 10px;
	background:url('../img/erweima.png') center bottom no-repeat;
	background-size:contain;
	position: relative;
}
.right-nav-tu7:hover{
	background: #C40000 url('../img/erweima.png') center no-repeat;
}
.erweifix{
	width:154px ;
	height:207px ;
    position: absolute;
    right:33px;
    bottom:-15px ;
    display:none;
}
.right-nav-tu8{
	width: 35px;
	height:  35px;	
	margin: 0 auto;
	margin-top: 10px;
	background:url('../img/fanhui.png') center bottom no-repeat;
	background-size:contain;
	position: relative;
}
.right-nav-tu8:hover{
	background: #C40000 url('../img/fanhui.png') center no-repeat;
}
.leftnav{
	width:36px;
	height:336px;
	position: fixed;
	left: 0px;
	bottom: 30px;	
	overflow: hidden;
	transition: all .5s;
}
.leftnav li:nth-child(1){
	background:0;
	padding:0;
}
.leftnav li:nth-child(9){
	background:0;
	padding:0;
}
.leftnav li{
	width: 36px;
	height: 36px;
	margin-bottom: 1px;
	padding:6px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background: #626262;
    cursor: pointer;
}