body{
	font-size: 16px;
    font-family: "苹方","微软雅黑", "Helvetica";
    color: #999;
    background-color: #f5f6fa;
}
                        /*底部*/
.di{
	width: 100%;
	height: 1.2rem;
	position: fixed;
	bottom: 0;
	z-index: 999;
	overflow: 999;
}
.st{
	width: 31.5%;
	height: 0.7rem;
	background: #E8E8E8;
	position: absolute;
	bottom: 0;
	left: 0;
}
.qq{
	width: 33.5%;
	height: 100%;
    float: left;
    margin-left:5%;
    background-image: url(../img/qq.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.shi{
	font-size: 0.3rem;
	text-align: center;
	line-height:0.8rem;
}
.boda{
	width: 35%;
	height: 1rem;
	background: #ff6700;
	border-radius: 0.2rem;
	position: absolute;
	bottom: 0;
	left: 31%;
}
.qq1{
	width: 30%;
	height: 100%;
    float: left;
    margin-left:5%;
    margin-top: 7%;
    background-image: url(../img/dianhua_03.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.shi1{
	font-size: 0.3rem;
	color: white;
	text-align: center;
	line-height: 1.1rem;
}
.zaixian{
	width: 34%;
	height: 0.8rem;
	background: #E8E8E8;
	position: absolute;
	bottom: 0;
	right: 0;
}
.qq2{
	width: 30%;
	height: 100%;
    float: left;
    margin-left:5%;
    margin-top: 10%;
    background-image: url(../img/shouye6_14.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.shi2{
	font-size: 0.3rem;
	text-align: center;
	line-height: 1.1rem;
}
                                     /*底部结束*/
                                   /*顶部*/
.header{
	overflow: hidden;
    width: 100%;
    height: 0.89rem;
    background: rgba(0, 123, 227, 0.4);
    top: 0;
    position: fixed;
    z-index: 1000;;
}
.header ul li{
    width: 20%;
	font-size: 0.4rem;
	color: white;
	float: left;
	text-align: center;
	line-height: 0.9rem;
}
                              /*顶部结束*/
                                /*banner*/
.banner{
	display: block;
	width: 100%;
	height:5rem;
	position: relative;
	overflow: hidden;
}
.banner1{
	width: 100%;
	height: 5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../img/banner1.jpg) center center no-repeat;
	background-size:cover;
}
                              /*banner结束*/
                                 /*正文开始*/
.zheng{
	overflow: hidden;
	width: 100%;
	height: auto;
    padding: 0.1rem 0.24rem 0;
}
.sho{
	height: 0.62rem;
    line-height: 0.62rem;
    width: 100%;
}
.sho h5{
	color: #494747;
    font-size: 0.22rem;
    line-height: 0.7rem;
    float: left;
    margin: 0 0.14rem;
    font-weight: bold;
}
.nei{
	width: 100%;
    background-color: #fff;
    height: auto;
    padding: 0 0.2rem;
}
.shang{
	width: 100%;
    height: auto;
    padding-top: 0.2rem;
    overflow: hidden;
}
.shu{
	width: 0.04rem;
    height: 0.2rem;
    float: left;
    margin-left: 0;
    background: #01b5ff;
    margin-top: 0.07rem;
    overflow: hidden;
}
.zi{
	width: 6.26rem;
    height: auto;
    float: left;
    margin-left: 0.1rem;
    margin-top: -0.04rem;
    color: #333;
    font-size: 0.28rem;
    line-height: 0.4rem;
    letter-spacing: 1px;
    border-bottom: 1px dashed #b8b8b8;
    padding-bottom: 0.05rem;
}
.zhong{
	width: 100%;
    height: auto;
    color: #666;
    margin-top: 0.2rem;
    line-height: 0.36rem;
    font-size: 0.24rem;
    letter-spacing: 1px;
    border-bottom: 1px dashed #b8b8b8;
    padding-bottom: 0.2rem;
}
img{
	width: 100%;
	height: auto;
}
.zhong p{
	margin-top: 10px;
}
.zhong p span{
	color: deepskyblue;
}    
.xia{
	width: 100%;
    height: 1.4rem;
    position: relative;
    padding: 0.2rem 0;
}
.lianjie{
	float: left;
    width: 100%;
    height: 1rem;
    margin: 0.1rem 0;
}
.lianjie a{
	float: left;
    width: 0.7rem;
    height: 0.7rem;
    margin: 0;
    padding: 0;
    margin-right: 0.78rem;
    margin-top: 0.08rem;
}
.lianjie .a1{
	background: url(../img/kj.png) 0 0 no-repeat;
    background-size: 100%;
} 
.lianjie .a2{
	background: url(../img/222.png) 0 0 no-repeat;
    background-size: 100%;
}
.lianjie .a3{
	background: url(../img/tx.png) 0 0 no-repeat;
    background-size: 100%;
}
.lianjie .a4{
	background: url(../img/wx.png) 0 0 no-repeat;
    background-size: 100%;
}
.lianjie .a5{
	background: url(../img/wb.png) 0 0 no-repeat;
    background-size: 100%;
    margin-right: 0;
}
            /*内容结束*/
           /*上一篇开始*/
.s{
	width: 110%;
    height: 1.6rem;
    margin-left: -0.24rem;
    overflow: hidden;
    background-color: #f5f6fa;
}
.s .sh:nth-child(1){
	margin-top: 0.3rem;
}
.s .sh:nth-child(2){
	margin-bottom: 0.3rem;
}
.sh{
	width: 100%;
    height: 0.4rem;
    padding-left: 0.14rem;
    overflow: hidden;
}
.sh span{
	font-size: 0.26rem;
    color: #000;
    line-height: 0.4rem;
    float: left;
}
.sh a{
	font-size: 0.26rem;
    width: 5.4rem;
    color: #01b5ff;
    line-height: 0.4rem;
    float: left;
    margin-left: 0.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.xiang{
	width: 100%;
    height: 4rem;
    background-color: #fff;
}
.xiang1{
	width: 100%;
    height: auto;
    padding-top: 0.2rem;
    overflow: hidden;
}
.xii{
	width: 6.26rem;
    height: auto;
    float: left;
    margin-left: 0.1rem;
    margin-top: -0.04rem;
    color: #333;
    font-size: 0.28rem;
    line-height: 0.4rem;
    letter-spacing: 1px;
    border-bottom: 1px dashed #b8b8b8;
    padding-bottom: 0.05rem;
}
.xiang ul li{
	width: 100%;
	height: 0.6rem;
}
.xiang ul li a{
	float: left;
    color: #333;
    width: 5.9rem;
    margin-left: 0.08rem;
    height: 0.6rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    letter-spacing: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.yuan{
	float: left;
    width: 0.24rem;
    height: 0.24rem;
    margin-top: 0.2rem;
    margin-left: 0.08rem;
    background: url(../img/hot_01.png);
    background-size: 100%;
}
           /*上一篇结束*/              
.ban{
	width: 100%;
    height: 1.2rem;
    font-size: 0.3rem;
    overflow: hidden;
}
.ban p{
	color: #666;
    font-size: 0.2rem;
    text-align: center;
    padding-top: 0.18rem;
}
.kongbai{
	width: 100%;
	height: 1.2rem;
	overflow: hidden;
}
/*结束*/