body{
	font-size: 16px;
    font-family: "苹方","微软雅黑", "Helvetica";
    color: #999;
    background-color: #f5f6fa;
}
                        /*底部*/
.di{
	width: 100%;
	height: 1.2rem;
	position: fixed;
	bottom: 0;
	z-index: 999;
	overflow: 999;
}
.st{
	width: 31.5%;
	height: 0.7rem;
	background: #E8E8E8;
	position: absolute;
	bottom: 0;
	left: 0;
}
.qq{
	width: 33.5%;
	height: 100%;
    float: left;
    margin-left:5%;
    background-image: url(../img/qq.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.shi{
	font-size: 0.3rem;
	text-align: center;
	line-height:0.8rem;
}
.boda{
	width: 35%;
	height: 1rem;
	background: #ff6700;
	border-radius: 0.2rem;
	position: absolute;
	bottom: 0;
	left: 31%;
}
.qq1{
	width: 30%;
	height: 100%;
    float: left;
    margin-left:5%;
    margin-top: 7%;
    background-image: url(../img/dianhua_03.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.shi1{
	font-size: 0.3rem;
	color: white;
	text-align: center;
	line-height: 1.1rem;
}
.zaixian{
	width: 34%;
	height: 0.8rem;
	background: #E8E8E8;
	position: absolute;
	bottom: 0;
	right: 0;
}
.qq2{
	width: 30%;
	height: 100%;
    float: left;
    margin-left:5%;
    margin-top: 10%;
    background-image: url(../img/shouye6_14.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.shi2{
	font-size: 0.3rem;
	text-align: center;
	line-height: 1.1rem;
}
                                     /*底部结束*/
                                   /*顶部*/
.header{
	overflow: hidden;
    width: 100%;
    height: 0.89rem;
    background: rgba(0, 123, 227, 0.4);
    top: 0;
    position: fixed;
    z-index: 1000;;
}
.header ul li{
    width: 20%;
	font-size: 0.4rem;
	color: white;
	float: left;
	text-align: center;
	line-height: 0.9rem;
}
                              /*顶部结束*/
                                /*banner*/
.banner{
	display: block;
	width: 100%;
	height:5rem;
	position: relative;
	overflow: hidden;
}
.banner1{
	width: 100%;
	height: 5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../img/banner1.jpg) center center no-repeat;
	background-size:cover;
}
                              /*banner结束*/
                                 /*正文开始*/
.zheng{
	overflow: hidden;
	width: 100%;
	height: auto;
    padding: 0.1rem 0.24rem 0;
}
.sho{
	height: 0.62rem;
    line-height: 0.62rem;
    width: 100%;
}
.sho h5{
	color: #494747;
    font-size: 0.22rem;
    line-height: 0.7rem;
    float: left;
    margin: 0 0.14rem;
    font-weight: bold;
}
.nei{
	width: 100%;
    background-color: #ffffff;
    margin-top: 0.2rem;
    padding: 0.1rem 0.24rem 0;
}
.jiang{
	width: 100%;
    height: 0.8rem;
    border: 1px solid #01b5ff;
    border-radius: 0.07rem;
    margin-bottom: 0.2rem;
}
.jin{
	background-color: #01b5ff;
    border-radius: 0.07rem;
    color: #ffffff;
    width: 33.33%;
    float: left;
    height: 100%;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.28rem;
    position: relative;
}
.sanjiao{
	position: absolute;
    width: 0rem;
    height: 0rem;
    border: 0.2rem solid;
    border-top-color: #01b5ff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    top: 0.74rem;
    left: 50%;
    margin-left: -0.1rem;
}
.sj{
	width: 33.33%;
    float: left;
    height: 100%;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.28rem;
    color: #111111;
    position: relative;
}
.nn{
	width: 100%;
	display: block;
}
.nn ul li{
	width: 100%;
    height: auto;
    padding: 0.2rem;
    box-sizing: border-box;
    border-bottom: 1px solid #b8b8b8;
    border-top: 1px dashed #b8b8b8;
    overflow: hidden;
}
.tuu{
	width: 2.3rem;
    height: 2.3rem;
    margin-top: 0.15rem;
    border-radius: 0.08rem;
    overflow: hidden;
    float: left;
}
.tuu img{
	width: 100%;
	height: 100%;
}
.zi{
	width: 3.5rem;
    height: 100%;
    float: right;
    margin-top: 0.34rem;
    overflow: hidden;
}
.part{
	width: 100%;
    float: left;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.name{
	font-size: 0.26rem;
    color: #111;
    height: 0.3rem;
    line-height: 0.3rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.xian{
	border-bottom: 1px dashed #b8b8b8;
    width: 3.6rem;
    height: 0;
    margin: 0.2rem 0;
}
.ui{
	font-size: 0.24rem;
    color: #01b5ff;
    width: 100%;
    height: 0.26rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 0.24rem;
    margin-left: 0;
}
.part1{
	width: 3.03rem;
    height: 0.3rem;
    color: #666666;
    font-size: 0.24rem;
    float: left;
    margin-top: 0.2rem;
    line-height: 0.3rem;
    text-align: left;
    background-color: #fff;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.part2{
	float: left;
    color: #ff9300;
    height: 0.24rem;
    font-size: 0.24rem;
    width: 1.5rem;
    height: 0.45rem;
    text-align: left;
    line-height: 0.45rem;
    background-color: #fff;
    margin: 0.1rem auto;
}
                                /*正文结束*/
                               /*详情开始*/
.nee{
	width: 100%;
    background-color: #fff;
    padding-left: 0.2rem;
    padding-top: 0.16rem;
    padding-right: 0.2rem;
    padding-bottom: 0.3rem;
}  
.shu{
	width: 0.04rem;
    height: 0.2rem;
    background: #01b5ff;
    display: inline-block;
    float: left;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-top: 0.1rem;
    overflow: hidden;
}  
.nee h2{
	font-size: 0.28rem;
    color: #444;
    margin-bottom: 0.13rem;
    font-weight: normal;
}  
.xu{
	width: 100%;
    height: 0.02rem;
    border-bottom: 0.02rem dashed #666666;
} 
.nee p{
	font-size: 0.24rem;
    color: #666666;
    line-height: 0.4rem;
    margin: 0.26rem 0;
    word-break: break-all;
    word-wrap: break-word;
}                       
                              /*详情结束*/
                               /*下一页开始*/
.xiay{
	width: 100%;
    height: auto;
}
.yi{
	height: 0.8rem;
    padding-top: 0.15rem;
    width: 100%;
    background-color: #ffffff;
    margin-top: 0.2rem;
}
.xiay .yi a{
	float: left;
    padding: 0.1rem;
    height: 0.5rem;
    border-radius: 0.4rem;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.3rem;
    margin-right: 0.15rem;
}
.xiay .yi .yi1{
    width: 0.5rem;
    margin-left: 0.6rem;
    background: url(../img/s1.png) 0 0 no-repeat;
    background-size: 100%;
    }
.xiay .yi .yi2{
	width: 1.4rem;
    background: url(../img/s2.png) 0 0 no-repeat;
    background-size: 100%;
}
.xiay .yi .yi3{
	width: 1.4rem;
    background: url(../img/s3.png) 0 0 no-repeat;
    background-size: 100%;
}
.xiay .yi .yi4{
    width: 0.5rem;
    background: url(../img/s4.png) 0 0 no-repeat;
    background-size: 100%;
    }
.xiay .yi .diy{
	border: 1px solid #666;
    letter-spacing: 1px;
    color: #666;
    width: 1.4rem;
}
                              /*下一页结束*/
.ban{
	width: 100%;
    height: 1.2rem;
    font-size: 0.3rem;
    overflow: hidden;
}
.ban p{
	color: #666;
    font-size: 0.2rem;
    text-align: center;
    padding-top: 0.18rem;
}
.kongbai{
	width: 100%;
	height: 1.2rem;
	overflow: hidden;
}
/*结束*/