/*
* @Author: ASUS
* @Date:   2017-03-14 09:26:33
* @Last Modified by:   ASUS
* @Last Modified time: 2017-03-15 09:06:10
*/
header .headtop{
	width: 100%;
	height: 40px;
	background: #444;
	opacity: 0.9;
}
.headtop main{
	max-width: 976px;
	height:40px;
	/* background: red; */
	margin: 0 auto;
	font-size: 12px;
	color: #a8a8a8;
	text-align: right;
	line-height: 40px;
}
/* .headtop main div{
	font-size: 12px;
	color: #a8a8a8;
	float: right;
	line-height: 40px;
} */

/* .box{
		width: 500px;
		height: 500px;
		background: red;
	} */
@media screen and (min-width: 1024px ) {
	.headtop main {
		max-width: 976px;
		/* height: 100%;
		
		font-size: 12px;
	    color: #a8a8a8;
	    float: right;
	    line-height: 40px; */
	}
	.header-top main .ul1{
	    display: block;
		/* height: 100%;
		padding: 0 22px; */
}
.header-top main .ul2{
	    display: none;
		/* height: 100%;
		padding: 0 22px; */
}
}
@media screen and (min-width:700px) and (max-width:1024px){
	/* .header-top main{
		width: 400px;
		height:100%;
		margin: 0 auto;
	} */
	.header-top main .ul1{
		padding: 0 15px;
	}
}
@media screen and (max-width: 700px ) {
	.headtop main {
		
		/* height: 100%; */
		padding: 0 25px;
		/* margin: 0 auto; */
	}
	.header-top main .ul1{
	    display: none;
	
}
.header-top main {
	    padding: 0 25px;
	
}
.header-top main .ul2{
	    display: block;
		/* height: 100%;
		padding: 0 22px; */
}
}
.header-top{
	width: 100%;
	height: 44px;
	background: #444;
	/* opacity: 0.9; */
}
.header-top main{
    max-width: 976px;
	height: 44px;
	margin: 0 auto;
	/* background: red; */
}
.header-top main ul{
	font-size: 10px;
	color: white;
	line-height: 44px;
	text-align: justify;
}
.header-top main ul li{
   display: inline-block;
}

.header-top main ul:after{
	content: "";
	display: inline-block;
	height: 0;
	width: 100%;
}
/* @media screen and (min-width:600px)and(max-width:1000px){
	.header-top main{
		width: 400px;
		height:100%;
		margin: 0 auto;
	}
	
} */
.banner{
	width: 100%;
	height: 515px;
	background: #0a0a0a;
	 /* opacity: 0.8;  */
	 position: relative;
}
.banner main ul{
	max-width: 100%;
	height: 125px;
    position: absolute;
    top: 4%;
    left: 41.5%;
    
    /* text-align: center; */
    /* line-height: 24px; */
}

.banner main ul .a{
	text-align: center;
	font-size: 33px;
	color: white;
}
.banner main ul .b{
	/* text-align: center; */
	font-size: 38px;
	color: white;
	margin-left: 41px;
}
.banner main .tu{
	width: 100%;
	height: 515px;
	margin: 0 auto;
	background-size: cover;
	background-position: center center;
	/* margin-left: 10px; */
	background-image: url('../img/shouji.jpg');
	
}
.zuo{
	width: 150px;
	height: 515px;
	
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;

}
.you{
	width: 150px;
	height: 515px;
	
	position: absolute;
	right:0;
	top: 0;
	opacity: 0;
}
.zuo .yuan{
    width: 64px;
    height: 64px;
    border-radius:50%; 
    position: absolute;
	left: 30px;
	top: 220px;
	background: #ccc;
}
.zuo .yuan div{
	font-size: 40px;
	color: white;
	/* line-height: 64px; */
	margin-top: 10px;
	margin-left: 20px;

}
.zuo:hover{
	opacity: 1;
}
.you .yuan{
    width: 64px;
    height: 64px;
    border-radius:50%; 
    position: absolute;
	right: 30px;
	top: 220px;
	background: #ccc;
}
.you .yuan div{
	font-size: 40px;
	color: white;
	/* line-height: 64px; */
	margin-top: 10px;
	margin-left: 20px;

}
.you:hover{
	opacity: 1;
}

@media screen and (min-width:700px) and (max-width:1024px){
	.banner main .tu{
	
	background-image: url('../img/shoujizhong.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
}
}
@media screen and (max-width: 700px ) {
	.banner main .tu{
	
	background-image: url('../img/shoujixiao.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
}

.si{
	width: 100%;
	height: 203px;

	color: red;
    position: relative;
}
.si li{
	width: 25%;
	height: 203px;
}

.si .tu1{
	position: absolute;
	left: 0;
	background-position: center center;
	background-image: url('../img/accessibility_large.jpg');
}
.si .tu2{
	position: absolute;
	left: 25%;
	background-position: center center;
	background-image: url('../img/airpods_large.jpg');
}

.si .tu3{
	position: absolute;
	right: 25%;
	background-position: center center;
	background-image: url('../img/iphone_upgrade_large.jpg');
}

.si .tu4{
	position: absolute;
	right: 0;
	background-position: center center;
	background-image: url('../img/nike_watch_large.jpg');
    
}

.si2{
	width: 100%;
	height: 406px;
	overflow: hidden;
	color: red;
    position: relative;
}
.si2 li{
	width: 50%;
	height: 203px;
}

.si2 .tu1{
	position: absolute;
	top: 0;
	left: 0;
	background-position: center center;
	background-image: url('../img/accessibility_medium.jpg');
}
.si2 .tu2{
	position: absolute;
	top: 0;
	left: 50%;
	background-position: center center;
	background-image: url('../img/airpods_medium.jpg');
}

.si2 .tu3{
	position: absolute;
	top: 50%;
	left: 0;
	background-position: center center;
	background-image: url('../img/iphone_upgrade_medium.jpg');
}

.si2 .tu4{
	position: absolute;
	top: 50%;
	left: 50%;
	/* clear: both; */
	background-position: center center; 
	background-image: url('../img/nike_watch_medium.jpg');
}
.si3{
	width: 100%;
	overflow: hidden;
	color: red;
    position: relative;
}
.si3 li{
	width: 100%;
	height: 203px;
}
.si3 .tu1{
	background-position: center center;
	background-image: url('../img/accessibility_small.jpg')
}
.si3 .tu2{
	background-position: center center;
	background-image: url('../img/airpods_small.jpg')
}
.si3 .tu3{
	background-position: center center;
	background-image: url('../img/iphone_upgrade_small.jpg')
}
.si3 .tu4{
	background-position: center center;
	background-image: url('../img/nike_watch_small.jpg')
}
@media screen and (min-width: 1024px ) {
	.si{
		display: block;
	}
	.si2{
		display: none;
	}
	.si3{
		display: none;
	}
}
@media screen and (min-width:700px) and (max-width:1024px){
	.si{
		display: none;
	}
	.si2{
		display: block;
	}
	.si3{
		display: none;
	}
}
@media screen and (max-width: 700px ) {
	.si{
		display: none;
	}
	.si2{
		display: none;
	}
	.si3{
		display: block;
	}
}
/* .dibu{
	width: 100%;
	overflow: hidden;
	background: #f2f2f2;
} */
footer{
	width: 100%;
	overflow: hidden;
	background: #f2f2f2;
	
}
.middle{
	max-width: 980px;	
	border-bottom: 1px solid #d6d6d6;
	margin: 0 auto; 	
	padding: 20px 0;
}
.middlewz{
	font-size: 9px;
	line-height: 12px;
}
.fuwu{
	max-width: 980px;	
	overflow: hidden;		
	
	margin: 0 auto;
}


.fuwu-max li{
	display: inline-block;	
	float: left;
	width: 20%;
	height: 280px;
	/* background: pink; */
	padding: 20px 0 40px 0;
	font-size: 10px;
	line-height: 20px;
}
footer a:hover{
	text-decoration:underline;

}
.fuwu-min li{
	line-height: 30px;
	font-size: 9px;
	border-bottom: 1px solid #d6d6d6;
}
.fuwu-min span{
	float: right;
}
.middle a{
	color: blue;
}
.weibu{
	max-width: 980px;
	overflow: hidden;
	margin: 0 auto;	
	font-size: 9px;
	padding: 10px 0 25px 0;
	
}

/* >1024 */
@media screen and (min-width: 1024px){	
	.header-top main{
		max-width: 976px;		
	}

	.header-nav main{	
		max-width: 1024px;		
	}
	.picture ul li{	
		width: 25%;
	}
	.picture1{
		background-image: url('../img/accessories_large.jpg');
	}
	.picture2{
		background-image: url('../img/accessibility_large.jpg');
	}
	.picture3{
		background-image: url('../img/airpods_large.jpg');
	}
	.picture4{
		background-image: url('../img/iphone_upgrade_large.jpg');
	}
}


/* <1024 */
@media screen and (max-width: 1024px){
	.header-top main{
		padding: 0px 25px;		
	}

	.header-nav main{
		padding: 0 24px;
	}
	.middle{
		margin: 20px 25px;
	}
	.fuwu{
		margin: 0 25px;
	}	
	.weibu{
		padding: 10px 25px 25px 25px;
	}
}
/* 768-1024 */
@media screen and (min-width: 768px) and (max-width: 1024px){
	.banner-title1{
		font-size: 25px;
	}
	.banner-title2{
		font-size: 30px;		
	}	
	.banner-img{
		background-image: url('../img/macbookpro_middle.jpg');
	}
	.picture ul li{	
		width: 50%;
	}
	.picture1{
		background-image: url('../img/accessories_medium.jpg');
	}
	.picture2{
		background-image: url('../img/accessibility_medium.jpg');
	}
	.picture3{
		background-image: url('../img/airpods_medium.jpg');
	}
	.picture4{
		background-image: url('../img/iphone_upgrade_medium.jpg');
	}
}

/* >768 */
@media screen and (min-width: 768px){
	.header-nav main .max-nav{
		display: block;
	}
	.header-nav main .min-nav{
		display: none;
	}
	.fuwu-max{
		display: block;
	}
	.fuwu-min{
		display: none;
	}
	.china{
		float: right;
	}
}

/* <768 */
@media screen and (max-width: 768px){
	.header-nav main .max-nav{
		display: none;
	}
	.header-nav main .min-nav{
		display: block;
	}

	.picture ul li{	
		width: 100%;
	}
	.picture1{
		background-image: url('../img/accessories_small.jpg');
	}
	.picture2{
		background-image: url('../img/accessibility_small.jpg');
	}
	.picture3{
		background-image: url('../img/airpods_small.jpg');
	}
	.picture4{
		background-image: url('../img/iphone_upgrade_small.jpg');
	}

	.banner-title1{
		font-size: 20px;
	}
	.banner-title2{
		font-size: 28px;
		min-width: 345px;
	}
	.banner-img{
		background-image: url('../img/macbookpro-small.jpg');
	}

	.fuwu-max{
		display: none;
	}
	.fuwu-min{
		display: block;
		margin: 0 25px;
	}
	.china{
		float: left;
	}
	.weibu div{
		clear: both;
		margin: 5px 0;
	}
}
